{
    "presets": [
        "@babel/preset-react"
    ],
    "plugins": [
        "babel-plugin-dev-expression",
        "babel-plugin-module-rewrite",
        "babel-plugin-module-resolver",
        "babel-plugin-module-map",
        "@babel/transform-react-jsx",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-class-properties",
    ],
    "parserOpts": {
        "plugins": [
            "jsx",
            "flow"
        ]
    },
    "ignore": [
        "foo.js"
    ],
    "env": {
        "production": {
            "presets": [
                "minify"
            ]
        }
    }
}