{
    "presets": ["fbjs"],
    "plugins": [
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-proposal-class-properties"
    ],
    "parserOpts": {
        "plugins": [
            "jsx",
            "flow"
        ]
    },
    "ignore": [
        "foo.js"
    ],
    "env": {
        "production": {
            "presets": [
                "minify"
            ]
        }
    }
}